h1{
    text-align: center;
    color:#fff;
    font-size: 35px;
}

ul{
    list-style: none;
}

li{
    font-size:2em;
    color:#feb135;
}

input[type=radio]{
    border:0px;
    width:20px;
    height: 2em;
}

.quizContainer{
    background-color: #393be0;
    border-radius: 8px;
    width: 75%;
    margin:auto;
    margin-top: 190px;
    padding-top:5px;
    position: relative;
}

.nextButton{
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #cc0000;
    color:#fff;
    font-weight: bold;
    position: relative;
    margin:auto;
    padding-top: 20px;
}

.question{
    font-size: 2em;
    width: 90%;
    height:auto;
    margin:auto;
    border-radius: 6px;
    background-color: #f2f205;
    text-align: center;
    color: #cc009c;
}

.quizMessage{
    width: 30%;
    margin:auto;
    border-radius: 6px;
    background-color: #f2af05;
    text-align: center;
    color:#00becc;
    padding: 2px;
}

.choiceList{
    color:#7e80f5;
}

.result{
    width: 30%;
    margin:auto;
    border-radius: 6px;
    background-color: #e7d29f;
    text-align: center;
    margin:auto;
    margin-bottom: 35px;

}