#calculator{
    background-color: #bcddf5;
    width: 450px;
    height: 350px;
    columns: #fff;
    padding: 55px;
    padding-top:30px;
    border-style: none;
    border-radius: 15px;
    margin:auto;
    margin-top:50px;
}

input{
    float: right;
    clear: both;
    width: 125px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;

}


p{
    font-size:30px;
}

#addup{
    background-color: #e46f6f;
    border-style: none;
    border-radius: 10px;
    width: 220px;
    height: 45px;
    color:#fff;
    font-size: 25px;
    margin-right: 120px;
}

h1{
    font-size: 60px;
    text-align: center;
    color:#1f80c9
}

#perc{
    color:#cd5c5c;
}