body{
    background-color: rgb(192, 236, 221);
}

input {
    margin-top: 5%;
    width: 500px;
    height: 40px;
    text-align: center;
    display: block;
    margin-left: 30%;
}

#output{
    margin-top:45px;
    background-color: rgb(166, 211, 227);
    margin-left: 400px;
    width: 200px;
    text-align: center;
}

#btn{
    width: 350px;
    height: 80px;
    color:rgb(226, 226, 226);
    background-color: rgb(147, 147, 223);
    border-style: none;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 30%
    /* margin-left: 385px; */

}

h1{
    text-align: center;
    margin-top:10%;
}