body{
    margin-top: 145px;
    margin-left:95px
}

h1{
    font-size: 45px;
    font-weight: 800;
    background-color: #963e96;
    color:#fff;
    margin-bottom: 3px;
    padding: 7px;
    width: 855px;
}

.calculator{
    margin-top:30px;
}

input{
    width: 250px;
    margin:2px 0;
    font-size: 20px;
    text-align: center;
}

#user-month, #user-day, #user-year{
    width:195px;
    height:45px;
}

#submit-date{
    width:605px;
    height:55px;
    padding: 10px;
    margin-top:30px;
    font-size:18px;
    border:none;
    background-color: #a986a9;
    color:#fff

}

#message{
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0;
}