div{
    text-align: center;
}

h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button{
    width: 250px;
    height: 80px;
    background-color: rgb(120, 120, 229);
    color:rgb(255, 255, 255);
    font-size: 25px;
}

p{
    font-size: 35px;
}

button:hover{
    background-color: rgb(111, 234, 111);
}