*{
    box-sizing: border-box;
}

.header-menu{
    background-color: rgb(245, 239, 222);
}

.container{
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.container-description{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height:400px;
    background-color: rgb(245, 239, 222);
}

.flex{
    flex:1;
    margin-top:40px;
}

.margin{
    margin-top: 10px;
    margin-bottom:40px;
}


#navigation{
    text-align: right;
    justify-content: space-around;
}

ul > li{
    display:inline;
    text-decoration: none;
}

nav li a {
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(77, 76, 76)
  }

nav li a:hover {
    background-color:rgb(248, 235, 201);
  }


#menu{
    border-bottom: 1px solid rgb(165, 165, 165);
   
}

.header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    margin: 0;
    width:550px;
}

.button{
    background-color: rgb(68,75,211);
    padding: 14px 32px;
    border-radius: 8px;
    color:white;
    margin-bottom:20px;
    margin-top:20px;
    width:200px

}

.closing-button{
    background-color: rgb(230, 121, 121);
    margin-top:5px;
}

.disableTextDecoration{
    text-decoration: none;
}

#pink-blur{
    position: absolute;
    left:45%;
    height: 400px;
    
}

#yellow-blur{
    position: absolute;
    right:45%;
    height: 400px;

}

p{
    margin:0;
}


.container-title{
    display: flex;
    justify-content: center;
    background-color: rgb(255,255,255);
}

.team-header{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}

.container-people{
    display:flex;
    background-color: rgb(255,255,255);
    justify-content: space-around;
    padding-top: 30px;
    text-align: center;
    flex-wrap:wrap;
}

.container-people p{
    margin-top:5px;
}

.name{
    font-weight: bold;
}

.job-title{
    color:#444BD3;
    padding:5px;
}

.team-member{
    width:15%;
    padding: 10px;
}

.container-app{
    display:flex;
    padding-top:50px;
}

.left-box{
    display: flex;
    flex-direction: column;
    margin-left:20px;
    width:50%;
    height:600px;
    text-align:left;
    justify-content: center;
    align-items: center;

}

.text-left{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.split-header{
    margin:3px;
    width: 300px;
    text-align: center;
}

.left-aligned-text{
    text-align: left;
}

.split-paragraph{
    width: 280px
}

.long-paragraph{
    width:400px;
    text-align: center;
}

.images{
    display: flex;
    width:50%
}

.first-images{
    width:60%;
    position: relative;
}

.last-image{
    width:40%;
    position: relative;
}

#phone{
    position:absolute;
    right:0
}

#dot{
    position:absolute;
    top:80%;
    left:5%
}


#pic{
    position:absolute;
    top:50%;
    left:0
}

.container-signup{
    display: flex;
    flex-direction: column;
    background-color:rgb(242, 243, 255);
    justify-content: center;
    align-items: center;
    padding:40px;
    margin-top:30px
}

.text-statistics{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width:300px;
    margin-left:5%;
    margin-top:10px;
}

.blue-paragraph{
    color:rgb(68,75,211);
    font-size:14px;
    text-transform: uppercase;

}

.container-statistics{
    display: flex;
    justify-content: space-around;
}

.text-box{
    width:250px;
    border: 1px solid rgba(18, 17, 39, 0.12);
    border-radius:12px;
    padding:20px 15px;
    margin-top:40px;

}

.blue-text{
    color:rgb(68,75,211);
    margin-top:0;
}

.blue-box{
    display: flex;
    flex-direction: column;
    color:white;
    background-color:rgb(54,56,188);
    justify-content: center;
    align-items: center;
    height:300px;
    margin:40px 30px;
    font-family: 'Poppins';
}

.small-boxes{
    display:flex;
    justify-content:space-around;
    padding: 20px;
    margin:10px;
}

.header-statistics{
    margin-bottom:3px;
}

.textarea{
    width:30%;
    padding:30px;
}

.container-footer{
    display: flex;
    background-color: rgb(249,249,251);
}

.left-element{
    width:50%;
    padding: 30px;
    margin-left:30px;
}

.right-elements{
    display:flex;
    width:50%;
    justify-content:right;
    padding: 30px;
    margin-right:20px;
}

.logo-footer{
    padding:5px;
}

.form-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.form-popup {
    display: none;
    border: 2px solid rgb(120, 120, 120);
    width: 30%;
    height:95%;
    position: fixed;
    top:4px;
    left:10%;
    background-color: rgb(255, 255, 255);
}

.form-container input[type=text], 
.form-container input[type=email], 
.form-container input[type=number] {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: rgb(211, 236, 254);
    margin:5px 0;
    
  }

  label{
    font-weight: bold;
    padding:5px;
  }


  .tooltip {
    position: relative;
    display: inline-block
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(76, 73, 73);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius:10px
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }




