input{
    width:150px;
    height:100px;
    font-size:75px;
    border-radius: 10px;
    border-style: none;
    margin:10px;
    color:#fff;
    background-color: #000;
}

#display {
    width:675px;
    height:100px;
    text-align:center;
    background-color: #1f80c9;
}

.operator {
    background-color: #cc5c11;
}

#clear-button {
    background-color: #cc0000;
}

#equal-button {
    background-color: #1fc952;
}

h1{
    text-align: center;
    font-size: 80px;
    margin-right:150px;
    margin-top:20px;
}

#calform {
    margin-left: 225px;
    margin-top:20px;
}