body{
    color: #de6a6a;
}

form{
    width: 500px;
    margin: 10px auto;
    margin-top: 70px;
    padding: 15px 15px;
    background-color: #e4ce9d;
    padding-bottom: 55px;
    border-radius: 10px;
}

h1{
    margin: 6px 0 4px 16px;
    font-size: 26px;
    text-align: center;
    color: #fff;
}

input[type="text"],
input[type="email"],
textarea{
    border:none;
    font-size: 18px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: #e8eeef;
    color: #000;
    margin-bottom: 20px;
}

button {
    padding: 12px 22px;
    color: #fff;
    background-color: #b23535;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    border-radius: 15px;
    margin-right: 5%;
    margin-left: 5%;
    width: 30%;
    border: 1px solid #a30000;
    border-style: none;
}

fieldset{
    margin-bottom: 10px;
    border:none;
}

label{
    display: block;
    margin-bottom: 8px;
    color: #db5c0d;
    font-weight: bold;
}

#clear{
    padding: 12px 22px;
    color: #000;
    background-color: #de6a6a;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    border-radius: 15px;
    margin-right: 5%;
    margin-left: 19%;
    width: 30%;
    border: 1px solid #a30000;
    border-style: none;
    color: #fff;
}