.wrapper{
    max-width: 1000px;
    position: relative;
    margin-left:100px
}

.mySlides{
    width: 100%;
}

.btn1{
    position: absolute;
    top: 45%;
    left:0;
}

.btn2{
    position: absolute;
    top: 45%;
    right:0;
}

#btnl, #btnr{
    padding: 10px;
    border-radius: 30px;
    background-color: aquamarine;
}

img{
    width: 958px;
    height: 578px;
}

