body{
    background-color: #a6d9e8;
}

#clock{
    color: #fff;
    font-size: 150px;
    background-color: #000;
    padding: 0.5em 0;
    widows: 80%;
    margin: 0px auto;
    text-align: center;
}

#banner{
    color: #fefefe;
    font-size: 50px;
    text-align: center;
    background-color: #fb9480;
    padding: 0.5em 0;
    widows: 80%;
    margin: 10% auto 0%;
    text-transform: uppercase;
}

