body{
    background-color: #4d91e2;
}

table{
    width: 400;
    height: 300;
    text-align:center;
}

.numbers{
    font-size: 45px;
    font-weight: bold;
    border: 5px solid #4ddfe2;
    padding: 50px;
}


.operators{
    font-size: 45px;
    font-weight: bold;
}

#result{
    padding: 10px;
    border:2px solid #000000
}

#wrapper{
    background-color:#f7c396;
    padding: 10px;
    width: 50%;
}

#btn{
    background-color: #f26f6f;
    color: #fff;
    padding: 12px;
    border-style: none;
    font-weight: bold;
}